*.in
*.o
*.a
*.la
*.lo
*.swp
*.bak
*~
*.real
*.orig
*.gz
*.xz
*.local
*.diff
*.log
*.trs
src/samplecat
configure
compile
Makefile
aclocal.m4
config.*
depcomp
install-sh
missing
.deps
stamp-*
autom4te.cache/
tags
cscope.*
ltmain.sh
libtool
.libs
layouts/layout_ui.c
layouts/layouts.c
src/vala/*.[ch]
src/resources.c
experimental/gl-app/samplecat_gl
experimental/gl-app/shaders/shaders.c
test/ubuntu-18/Dockerfile
test/ubuntu-20/Dockerfile
!test/ubuntu-20/Dockerfile.in
test/arch/Dockerfile
test/unit/unit_test
test/unit/list.c
test/ui/ui_test
test/ui/list.c
player.vala.c
player.vala.h
!test/debian*/Makefile
!test/debian*/scripts/Makefile
!test/ubuntu*/Makefile
!test/ubuntu*/scripts/Makefile
!test/arch/Makefile
!test/arch/Dockerfile.in
!test/arch/scripts/Makefile
!test/opensuse-leap/Makefile
!test/opensuse-leap/Dockerfile.in
test/opensuse-leap/Dockerfile
!test/opensuse-leap/scripts/Makefile
test-driver
test/.cache/
test/.config/
/home
