*.in
*.o
*.a
*.swp
*.bak
*~
*.real
src/samplecat
configure
Makefile
aclocal.m4
config.*
depcomp
install-sh
missing
.deps
stamp-*
autom4te.cache/
tags
cscope.*
ltmain.sh
libtool
.libs
layouts/layout_ui.c
layouts/layouts.c
src/vala/application.c
src/vala/application.h
