*.in
*.o
*.a
*.swp
*.bak
*~
*.real
*.orig
*.gz
*.local
*.diff
src/samplecat
configure
compile
Makefile
aclocal.m4
config.*
depcomp
install-sh
missing
.deps
stamp-*
autom4te.cache/
tags
cscope.*
ltmain.sh
libtool
.libs
layouts/layout_ui.c
layouts/layouts.c
src/vala/*.[ch]
experimental/gl-app/samplecat_gl
experimental/gl-app/shaders/shaders.c
test/ubuntu-18/Dockerfile
player.vala.c
player.vala.h
!test/debian*/Makefile
!test/debian*/scripts/Makefile
!test/ubuntu*/Makefile
!test/ubuntu*/scripts/Makefile
