button {
	margin: 0;
	border: 0;
	padding: 0;
	border-radius: 0;
}

dock-item {
	border: 1px solid #bbb;
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
}

paned > separator {
	background-image: image(rgb(240, 240, 240));
}

paned > separator:hover {
	background-image: image(rgb(100, 100, 100));
}

paned.horizontal > separator {
	margin: 0 4px;
	padding: 0 4px;
}

paned.vertical > separator {
	margin: 3px 0;
	padding: 3px 0;
}


/* dock-grip label */
dock-title {
	font-size: 8px;
	font-weight: bold;
}

dock-grip {
	padding: 0;
}

dock-grip > * {
	margin: -4px;
	padding: 0;
}

dock-grip > button.flat {
	margin: 0;
	border: 0;
	padding: 0;
	border-radius: 0;
	min-height: 16px;
}

.gdl-button-image {
	margin: 0;
	border: 0;
	padding: 0;
}

grid {
	margin: 5px;
}

popover > * {
	border-radius: 2px;
}

tag {
  margin: 4px 0px;
  padding: 4px;
  border-radius: 4px;
  background: lightskyblue;
}
tag box {
  border-spacing: 4px;
}
tag label,
tag image {
  color: white;
}
tag button {
  min-height: 0;
  min-width: 0;
  padding: 0;
  border: 1px solid white;
}

entry.tagged {
	border-spacing: 4px;
}

label#spp {
	background-color: #000;
	color: #fff;
	padding-left: 4px;
}

.directories treeexpander indent {
	-gtk-icon-size: 16px;
}

.directories treeexpander label {
	padding-left: 4px;
}
